{% extends 'base.html' %}
{% block title %}
    Сброс пароля прошёл успешно
{% endblock title %}
{% block content %}
    <main>
      <div class="container py-5"> 
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header" style="background-color:rgb(247, 72, 78)">
                Отправлено письмо
              </div>
              <div class="card-body" style="background-color:rgb(32, 36, 41)">
                <p>Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</p>
              </div> 
            </div> 
          </div>
        </div> 
      </div>
    </main>
{% endblock content %}